@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-alexandria bg-gray-100 text-gray-800;
    font-family: 'Alexandria', sans-serif;
  }
}

.glass {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.liquid-glass {
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 20px rgba(255,255,255,0.5), 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
